---
---

@import "{{ site.theme }}";

.site-nav {
    li {
        a:visited {
            color: #aa7700;
        }
    }
}

section {
    h1 {
        display: none;
    }
    #title {
        h1 {
            display: inherit;
        }
    }
    h2, h3, h4 {
        margin-top: 4rem;
    }
    code {
        padding-left: 0;
        padding-right: 0;
    }
}
