---
---

@import "{{ site.theme }}";

section {
    h1 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        text-align: center;
    }
    #title {
        h1 {
            display: inherit;
        }
    }
    h2, h3, h4 {
        margin-top: 4rem;
    }
    code {
        padding-left: 0;
        padding-right: 0;
    }
}
