<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
          {% if site.show_downloads %}
            <li class="downloads">
                <a href="/">HOME</a>
            </li>
            <li class="downloads">
                <a href="https://servergardens.com/buy">BUY</a>
            </li>
            <li class="downloads"><a href="/tutorials">TUTORIALS</a></li>
            <li class="downloads"><a href="{{ site.github.zip_url }}">DOWNLOAD</a></li>
          {% endif %}
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        {{ content }}

        <h2>Reference documentation</h2>

        <ul class="site-nav">
            <li>
                <a href="/">magic - Main project/page</a>
            </li>
            <li>
                <a href="/magic.lambda">magic.lambda - Explains Hyperlambda as a DSL, and its keywords</a>
            </li>
            <li>
                <a href="/magic.node">magic.node - Explains nodes, Hyperlambda and Expressions</a>
            </li>
            <li>
                <a href="/magic.endpoint">magic.endpoint - Endpoint resolving in Magic</a>
            </li>
            <li>
                <a href="/magic.data.common">magic.data.common - Commonalities for data adapters in Magic</a>
            </li>
            <li>
                <a href="/magic.lambda.mysql">magic.lambda.mysql - Accessing your MySQL server from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.mssql">magic.lambda.mssql - Accessing your MS SQL Server from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.logging">magic.lambda.logging - Logging from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.caching">magic.lambda.caching - Caching from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.hyperlambda">magic.lambda.hyperlambda - Parse Hyperlambda from text, and vice versa</a>
            </li>
            <li>
                <a href="/magic.lambda.http">magic.lambda.http - Invoking HTTP REST endpoints from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.crypto">magic.lambda.crypto - Cryptography helpers for Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.config">magic.lambda.config - Accessing configuration values from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.scheduler">magic.lambda.scheduler - Create scheduled tasks and workflows from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.json">magic.lambda.json - Manipulating JSON from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.mail">magic.lambda.mail - Sending and retrieving emails from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.mime">magic.lambda.mime - Parsing email messages in Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.slots">magic.lambda.slots - Dynamically create your own slots/functions</a>
            </li>
            <li>
                <a href="/magic.lambda.strings">magic.lambda.strings - Manipulate strings in Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.math">magic.lambda.math - Math operations from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.dates">magic.lambda.dates - Allows you to manipulate DateTime objects from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.auth">magic.lambda.auth - Authentication and authorisation from Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.lambda.validators">magic.lambda.validators - Validate input in Hyperlambda</a>
            </li>
            <li>
                <a href="/magic.io">magic.io - IO operations in Magic</a>
            </li>
            <li>
                <a href="/magic.http">magic.http - HTTP REST invocations in Magic</a>
            </li>
            <li>
                <a href="/magic.library">magic.library - A single NuGet package helper tying everything easily together</a>
            </li>
        </ul>

      </section>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>